@model MezoExperts.Models.Question

@{
    ViewBag.Title = "Details";
}
<div class="container">

    <div class="col-lg-8">
        <div class="col-lg-4">
            @Html.DisplayFor(m => m.Title)
        </div>
        <div class="col-lg-2">
            @Html.DisplayFor(m => m.Time)
        </div>
        <div class="col-lg-2">
            @Html.DisplayFor(model => model.Category.Id)
        </div>
    </div>

    <div class="col-lg-8">
        @Html.Raw(Model.Details)
    </div>

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
