@model MezoExperts.Models.Question

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@using (Html.BeginForm("Edit", "Question", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    @Html.HiddenFor(model=>model.Id)
    @Html.HiddenFor(model=>model.PostedBy)
    
    <section style="background-image: url('../../Images/MezoImages/bluebacksmall.png');background-repeat:repeat ">

        <div class="container">
            <div class="QuestionBox col-lg-8 col-lg-offset-2">
                <h4>Ask a question & get expert help</h4>

                <div class="form-group">
                    @Html.TextBoxFor(m => m.Title, new { placeholder = "Question Title", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Title)
                </div> <!-- /.form-group -->

                <div class="form-group">
                    <div class="input-group">
                        @Html.DropDownListFor(m => m.CategoryId, new SelectList(ViewBag.CategoryId, "Text", "Value", "-- Select Category --"), new { @class = "form-control" })
                        @*Html.DropDownList("CategoryId")*@
                        @Html.ValidationMessageFor(model => model.CategoryId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.TextAreaFor(model => model.Details, new { id = "QuestionText" })
                    @Html.ValidationMessageFor(model => model.Details)
                </div>
                <input type="hidden" value=@Model.Time name="Time" />
                <input type="file" multiple name="files" />
                @{if (WebSecurity.IsAuthenticated)
                {
                    <input type="hidden" value=@WebSecurity.CurrentUserId name="PostedBy" />
                }
                }
                <button type="submit" class="btn btn-success">Save <span class="glyphicon glyphicon-ok-circle"></span></button>
                <a class="btn btn-primary" href="~/Question/Details/@Model.Id">Cancel <span class="glyphicon glyphicon-remove-circle" ></span></a>
            </div>
        </div>
    </section>
}

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckeditor/adapters/jquery.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        CKEDITOR.replace('QuestionText');
    });
</script>