@model MezoExperts.Models.Reply

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Reply</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Question.Details)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Question.Details)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReplierId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReplierId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Response)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Response)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Time)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
