@model MezoExperts.Models.HomeModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mezo Experts</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->

    <link href="~/Theme/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/Theme/css/freelancer.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="~/Theme/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .QuestionBox {
            text-align: center;
            background: rgba(255, 255, 255, 0.9) none repeat scroll 0px 0px padding-box;
            z-index: 5;
            padding: 20px 40px 10px;
            border-radius: 15px;
            border: 8px solid rgba(0, 0, 0, 0.3);
        }
    </style>

</head>

<body id="page-top" class="index">

    @Html.Partial("~/Views/Home/_Navbar.cshtml")

    <!-- Header -->
    <header style="background-image: url('../../Images/MezoImages/homeback.jpg'); ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Mezo Experts</span>
                        <hr class="star-light">
                        <span class="skills">Get help with your Questions</span>
                    </div>
                </div>
            </div>
            <form role="form" class="QuestionBox col-lg-6 col-lg-offset-3">
                <div class="form-group">
                    <textarea class="form-control" placeholder="Ask a question."></textarea>
                </div>
                <button type="submit" class="btn btn-success">Get Help Now</button>

            </form>
        </div>
        @WebSecurity.CurrentUserName
    </header>

    <!-- About Section -->
    <!--
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
        -->
    @Html.Partial("~/Views/Home/_Footer.cshtml")

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Modals -->
    @Html.Partial("~/Views/Account/_LoginNewPartial.cshtml", Model.Login)

    @Html.Partial("~/Views/Account/_RegisterClientPartial.cshtml", Model.Register)

    @Html.Partial("~/Views/Account/_RegisterExpertPartial.cshtml", Model.Register)



    <!-- jQuery -->
    <script src="~/Theme/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Theme/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <script src="~/Theme/js/classie.js"></script>
    <script src="~/Theme/js/cbpAnimatedHeader.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->

    <script src="~/Theme/js/freelancer.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            
        });
    </script>
</body>

@Scripts.Render("~/Scripts/jquery-1.7.1.min.js")
@Scripts.Render("~/Scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")

@{Html.EnableClientValidation(true);}
@{Html.EnableUnobtrusiveJavaScript(true);}


</html>